<p id="notice"><%= notice %></p>

<p>
  <strong>Sla1:</strong>
  <%= @sla.sla1 %>
</p>

<p>
  <strong>Sla2:</strong>
  <%= @sla.sla2 %>
</p>

<p>
  <strong>Diffnum:</strong>
  <%= @sla.diffnum %>
</p>

<%= link_to 'Edit', edit_sla_path(@sla) %> |
<%= link_to 'Back', slas_path %>
