<% content_for(:page_header) {"Participate in our polls right now!"} %>

<% @polls.each do |poll| %>
  <div class="well">
    <h2><%= poll.topic %> <small>(voted: <%= poll.votes_summary %>)</small></h2>

    <%= form_tag votes_path, method: :post, remote: true, id: 'voting_form' do %>
      <%= hidden_field_tag 'poll[id]', poll.id %>
      <% poll.vote_options.each do |option| %>
        <div class="form-group">
          <%= content_tag(:label) do %>
            <% unless current_user.voted_for?(@poll) %>
              <%= radio_button_tag 'vote_option[id]', option.id %>
            <% end %>
            <%= option.title %>
          <% end %>
          <%= visualize_votes_for option %>
        </div>
      <%end%>
      <p><b>Total votes: <%= poll.votes_summary %></b></p>
      <% if current_user.voted_for?(poll) %>
        <p>You have already voted!</p>
      <% else %>
        <%= submit_tag 'Vote', class: 'btn btn-lg btn-primary' %>
      <% end %>
    <% end %>
    <br/>
    <div class="btn-group">
      <%= link_to 'Edit', edit_poll_path(poll), class: 'btn btn-default' %>
      <%= link_to 'Delete', poll_path(poll), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
    </div>
  </div>
<% end %>


<!--   <iframe src="http://staging.re2n.com/polls/new" width="1280" height="1000" frameborder="0"></iframe>
 -->

<style>
    .well {
        h2 {
            margin-top: 0;
        }
    }
</style>


