<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <!-- Blog Post -->
      <% @posts.each do |post| %>


      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title"><%= post.title %></h2>


            <%=debug(post.versions)   %>

          <p class="card-text"><%= post.description %></p>
          <%= link_to 'Read More', post, class: 'btn btn-success' %>
          <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary' %>
          <%= link_to 'Destroy', post, class: 'btn btn-danger' ,method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="card-footer text-muted">
          Posted on January 1, 2017 by
          <a href="#"><%= post.user.name %></a>
        </div>
      </div>
      <%end%>


    </div>




    <div class="col-md-4">
      <!-- Categories Widget -->
      <div class="card my-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <%= link_to 'New Post', new_post_path %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <h3>Categories</h3>
              <ul class="list-unstyled mb-0">
              <%@categories.each do |cat|%>
                <li>
                <%=link_to cat.name, cat_path(cat: cat.id)%>
                </li>
              <%end%>





              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
