<!DOCTYPE html>
<html>
<head>
  <title>Poller</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" media="screen" href="/layout/css/custom.css">

</head>
<body>
<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Poller', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Add poll', new_poll_path %></li>
      <li><%= link_to 'Posts', posts_path %></li>
      <%if user_signed_in?%>

              <li class="nav-item btn-group" data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
                <a class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="http://pngify.me/gd/makefg.php?i=icons/Miscellaneous/bell.png&r=255&g=255&b=255" style="width:8%"> <span data-behavior="unread-count"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
      <!--
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a> -->

                </div>
              </li>


        <li style="padding-left:200px"><p style="color:white">Hello, <%=current_user.name%> - <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-danger navbar-btn", style: "color:white;",:method => 'delete' %></p></li>
      <%else%>
        <li><%= link_to "Sign in", new_user_session_path, class: "btn btn-success navbar-btn", style: "color:white;"%></li>
      <%end%>
    </ul>
  </div>
</div>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <div class="page-header">
    <h1><%= yield :page_header %></h1>
  </div>

  <%= yield %>
</div>
</body>
</html>



